* {
    font: "SpaceMono Nerd Font 11";
    background:     #101418;
    background-alt: #524060;
    foreground:     #d0e4ff;
    selected:       #3b4857;
    active:         #34618e;
    urgent:         #ffb4ab;
}
