#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Bug Crowd
Exec=chromium-browser --app=https://bugcrowd.com/engagements
Icon=/home/tamara/.local/share/applications/icons/bugcrowd.png

