#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=DDOSecrets
Exec=chromium-browser --app=https://ddosecrets.com/
Icon=/home/tamara/.local/share/applications/icons/hacktricks.png

