#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=zueLearning
Exec=chromium-browser --app=https://elearning.zetech.ac.ke
Icon=/home/tamara/.local/share/applications/icons/zuni.png

