#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Font Awesome
Exec=chromium-browser --app=https://fontawesome.com/icons
Icon=/home/tamara/.local/share/applications/icons/fontawesome.png
