#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=GitHub
Exec=chromium-browser --app=https://github.com
Icon=/home/tamara/.local/share/applications/icons/github.png

