#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Hacksplaining
Exec=chromium-browser --app=https://www.hacksplaining.com/lessons
Icon=/home/tamara/.local/share/applications/icons/hacksplaining.jpeg

