#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Proton OVPNs
Exec=chromium-browser --app=https://account.protonvpn.com/account-password
Icon=/home/tamara/.local/share/applications/icons/proton-vpn.png

