#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Ryan Tutorials
Exec=chromium-browser --app=https://ryanstutorials.net
Icon=/home/tamara/.local/share/applications/icons/adventofcode.png

