#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Stack Overflow
Exec=chromium-browser --app=https://stackoverflow.com
Icon=/home/tamara/.local/share/applications/icons/stack-overflow.svg

