#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=TikTok
Exec=chromium-browser --app=https://tiktok.com
Icon=/home/tamara/.local/share/applications/icons/tiktok.png

