#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=unixporn
Exec=chromium-browser --app=https://www.reddit.com/r/unixporn
Icon=/home/tamara/.local/share/applications/icons/unixporn.png

