#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=YouTube
Exec=chromium-browser --app=https://youtube.com
Icon=/home/tamara/.local/share/applications/icons/youtube.png

